.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogItem h3 {
  cursor: pointer;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.btn {
  color: white;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 6px;
  padding: 7px 08px;
  background-color: #041d3d;
}
